apiVersion :  batch/v1
# Тип
kind: CronJob
metadata:
  # Имя job'а
  name: django-clearsession
  # Марки для приложения
spec:
  # Расписание в формате cron
  schedule: '@monthly'
  # Шаблон задания
  jobTemplate:
    # Шаблон Pod'а
    spec: 
      template:
        spec:
          containers:
            # Описываем контейнеры в Pod'е
            - name : django-clearsession
            # Образ из которого запускать контейнер
              image: django_app:latest
            # Команда для выполнения в контейнере
              command: ["python", "manage.py", "clearsessions"]
            # Искать образ локально
              imagePullPolicy: Never
            # Открываем порт
              ports: 
                - containerPort: 80
          # Когда перезапускать контейнер
          restartPolicy: OnFailure