apiVersion :  batch/v1
# Тип
kind: Job
metadata:
  # Имя job'а
  name: django-migrate
  # Марки для приложения
spec:
  # Время через которое завершенный jobs автоматически удалится
  ttlSecondsAfterFinished: 60
  # Шаблон Pod'а
  template:
    spec:
      containers:
        # Описываем контейнеры в Pod'е
        - name : django-migrate
        # Образ из которого запускать контейнер
          image: django_app:latest
        # Команда для выполнения в контейнере (С отключенным интерактивным вводом)
          command: ["python", "manage.py", "migrate", "--noinput"]
        # Искать образ локально
          imagePullPolicy: Never
          envFrom:
            - secretRef:
              name: secrets
      # Когда перезапускать контейнер
      restartPolicy: OnFailure